span::selection,
input::selection,
.product-btn::selection {
    background-color: white;
}

/*BTN WISHLIST STATUS*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;

    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.wishlist #black-heart {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 23px;
    left: 80%;

    fill: #B0BCC2;

}

.wishlist:hover #black-heart {
    fill: #e3d0a2;
}


.status {
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 5px 16px;
    font-size: 12px;
    background: #1e1e1e;
    color: #fff;
    border-radius: 50px;

}


/* COUNT BTN*/

.btn__count__dec,
.btn__count__inc {
    display: flex;
    height: 40px;
    width: 40px;

    align-items: center;
    justify-content: center;

    background-color: transparent;

    border: 1px solid #1e1e1e;
    border-radius: 45%;

    cursor: pointer;
}

.btn__count__dec {
    margin-right: 15px;
}

.btn__count__inc {
    margin-left: 15px;
}

.btn__count__display {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    background-color: #B0BCC2;
    color: white;
    font-size: 22px;

    border-radius: 25px;
}

/*RATE*/
/*https://codepen.io/hesguru/pen/BaybqXv*/
.rate {
    float: left;
    height: 46px;
}

.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*PRODUCT BTN*/


input {
    width: 50px;
    text-align: center;
    background: transparent;
    border: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    height: 100%;
}

.product-btn__qty {
    color: #838383;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 16px 0;
}

.product-btn {
    display: inline-block;
    height: 55px;
    width: 170px;
    padding: 16px 40px;
    border: 2px solid #EEF1F2;
    border-radius: 50px;
    text-align: center;

    background-color: transparent;
}



.cursor-pointer{
    cursor: pointer;
}
