/* Products */

.products {
    margin-top: 80px;
    position: relative;
}

.products__error {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 50px;

    top: -80px;

    color: black ;

    background-color: #ea6f6f;

    opacity:1 ;
    transition: opacity 1s ease-out;
}

.hidden__item {
    opacity:0;
}

.products__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__title {
    font-size: 50px;
}

.products__control {
    display: flex;
    width: 100%;
    justify-content: center;
    list-style-type: none;
}

.products__control__item {
    margin-top: 20px;
    color: #B0BCC2;
    margin-right: 30px;
    cursor: pointer;

    transition: color .1s linear;
}

.products__control__item:hover {
    color: #1e1e1e;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
}

.products__item {
    margin-top: 50px;
    height: 480px;
    width: 25%;
}

.products__item__bottom:hover .btn {
    background-color: #B0BCC2;
    color: white;
}

.products__item__inner {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.product__item__top {
    position: relative;
    transition: .5s;
}


.product__item__top:hover {
    cursor: pointer;
    transform: scale(1.05)
}


.products__item__bottom__price,
.products__item__bottom__desc,
.products__item__bottom__brand,
.products__item__bottom__title {
    margin-top: 10px;

    font-size: 14px;
    font-weight: 500;
    color: #727272;
}

.products__item__bottom__price {
    color: #1e1e1e;
    font-weight: bold;
}
