.product-detail__inner {
    display: flex;
    margin-top: 50px;


    font-family: "Amatic", sans-serif;
}


.product-detail__info,
.product-detail__img {
    width: 50%;
    margin: 0 10px;
}


.product-detail__info {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}


.product-detail__info__btn {
    margin-top: 50px;
}

