
.basket__proucts {
    margin-top: 50px;
    font-family: "Amatic", sans-serif;

}

.basket__proucts__list {
    border-bottom: 1px solid #B0BCC2;
}

.basket__proucts__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.basket__proucts__item__top {
    display: flex;
}

.basket__proucts__item__top__info {
    display: flex;

    flex-direction: column;
    margin-left: 20px;


}

.basket__proucts__item__top__info__title,
.basket__proucts__item__top__info__subtitle {
    flex: 1;
    display: flex;
    align-items: center;

    font-size: 18px;
}

.basket__proucts__item__bottom {
    display: flex;
    justify-content: end;
    align-items: center;

    margin-bottom: 50px;
}

.basket__proucts__item__bottom__price {
    min-width: 62px;
    font-size: 22px;
    margin-right: 50px;
    margin-left: 150px;
}

