{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="basket__proucts">
  <div class="container">
    <div class="basket__proucts__list">
      <div class="basket__proucts__item">
        <div class="basket__proucts__item__top">
          <div class="basket__proucts__item__top__img">
            <a href="#">
              <img src="Women.jpg" alt="" width="200" height="200">
            </a>
          </div>
          <div class="basket__proucts__item__top__info">
            <div class="basket__proucts__item__top__info__title">
              Lorem ipsum dolor sit amet.
            </div>
            <div class="basket__proucts__item__top__info__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Accusamus ea eaque quo ratione saepe. Consectetur delectus natus pariatur saepe sequi?
            </div>
          </div>
        </div>
        <div class="basket__proucts__item__bottom">
          <div class="btn__count">
            <input type="button" class="btn__count__dec" value="-">
            <div class="btn__count__display">5</div>
            <input type="button" class="btn__count__inc" value="+">
          </div>
          <div class="basket__proucts__item__bottom__price">100</div>
        </div>
      </div>
      <div class="basket__proucts__item">
        <div class="basket__proucts__item__top">
          <div class="basket__proucts__item__top__img">
            <a href="#">
              <img src="Women.jpg" alt="" width="200" height="200">
            </a>
          </div>
          <div class="basket__proucts__item__top__info">
            <div class="basket__proucts__item__top__info__title">
              Lorem ipsum dolor sit amet.
            </div>
            <div class="basket__proucts__item__top__info__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Accusamus ea eaque quo ratione saepe. Consectetur delectus natus pariatur saepe sequi?
            </div>
          </div>
        </div>
        <div class="basket__proucts__item__bottom">
          <div class="btn__count">
            <input type="button" class="btn__count__dec" value="-">
            <div class="btn__count__display">5</div>
            <input type="button" class="btn__count__inc" value="+">
          </div>
          <div class="basket__proucts__item__bottom__price">100</div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}