{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="product-detail">
    <div class="container">
      <div class="product-detail__inner">
        <div class="product-detail__img">
          <img src="{{ good.photo.url }}" alt="" width="100%" height="680">
        </div>
        <div class="product-detail__info">
          <h2 class="product-detail__info__title">
            {{ good.title }}
          </h2>

          <h3 class="product-detail__info__subtitle">
            {{ good.subtitle }}
          </h3>

          <div class="product-detail__info__price">
            ${{ good.price }}
          </div>

          <div>
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5"/>
              <label for="star5" title="text">5 stars</label>

              <input type="radio" id="star4" name="rate" value="4"/>
              <label for="star4" title="text">4 stars</label>

              <input type="radio" id="star3" name="rate" value="3"/>
              <label for="star3" title="text">3 stars</label>

              <input type="radio" id="star2" name="rate" value="2"/>
              <label for="star2" title="text">2 stars</label>

              <input type="radio" id="star1" name="rate" value="1"/>
              <label for="star1" title="text">1 star</label>
            </div>
          </div>

          <div class="product-detail__info__category">
            Category: {{ good.category }}
          </div>

          <div class="product-detail__info__description">
            Desription: {{ good.description }}
          </div>

          <div class="product-detail__info__btn">
            <div class="product-btn">
              <span id="product-btn__dec" class="product-btn__qty" data-id="{{ good.id }}">-</span>
              <input id="input" type="text" value="1">
              <span id="product-btn__inc" class="product-btn__qty" data-id="{{ good.id }}">+</span>
            </div>
            <button type="button"
                    id="add-button"
                    value="{{ good.pk }}"
                    class="product-btn">
              Add to basket
            </button>
          </div>


        </div>
      </div>
    </div>
  </section>

  <script>
      $(document).on('click', '#add-button', function (e) {
          alert("Products has been added")
          $.ajax({
              type: 'POST',
              url: '{% url "basket:basket_add" %}',
              data: {
                  goodid: $('#add-button').val(),
                  goodqty: $('#input').val(),
                  csrfmiddlewaretoken: "{{csrf_token}}",
                  action: 'ADD'
              },
              success: function (json) {
                  document.querySelector(".basket__qty").innerHTML = json.qty
              },
              error: function (xhr, errmsg, err) {
              }
          });
      })
  </script>
{% endblock %}