{% extends 'base.html' %}
{% load static %}
{% block content %}

  {% include 'mainApp/include/_categories.html' %}

  <section class="products">
    <div class="products__error hidden__item"><p>You have to be <a href="{% url "account:login" %}"> logged in</a> to
      add a product to the basket</p></div>
    <div class="container">
      <div class="products__inner">
        <div class="products__filter">
          <ul class="products__control">
            <li class="products__control__item" data-filter="all">All</li>
            <li class="products__control__item" data-filter="by-views">Most popular</li>
            <li class="products__control__item" data-filter="by-price">Biggest price</li>
          </ul>
        </div>
        <div class="products__list">
          {% for good in goods %}
            {% include 'mainApp/include/_output_good.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <script>
      window.addEventListener("pageshow", function (event) {
          var historyTraversal = event.persisted ||
              (typeof window.performance != "undefined" &&
                  window.performance.navigation.type === 2);
          if (historyTraversal) {
              window.location.reload();
          }
      });

      Array.from(document.querySelectorAll('.wishlist')).forEach(
          function (item) {
              item.addEventListener('click', function (e) {
                  let currentElement = e.target.parentElement.parentElement.parentElement;

                  if (currentElement.className === 'products__item__inner') {
                      currentElement = currentElement.querySelector('.wishlist')
                  }

                  if (currentElement.className.indexOf('wishlist') !== -1) {
                      let currentElementId = currentElement.dataset.id

                      e.preventDefault()
                      $.ajax({
                          type: 'POST',
                          url: '{% url "wishlist:wishlist_add" %}',
                          data: {
                              goodid: currentElementId,
                              csrfmiddlewaretoken: "{{csrf_token}}",
                              action: 'ADD'
                          },
                          success: function (json) {
                              if (json['is_authenticated']) {
                                  currentElement.classList.toggle('wishlist__active')
                              } else {
                                  document.querySelector('.products__error').classList.remove('hidden__item')
                              }
                          },
                          error: function (xhr, errmsg, err) {
                          }
                      });
                  }
              })
          });
  </script>
  <script src="{% static 'mainApp/js/OrderingProducts.js' %}"></script>


{% endblock %}