{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="products">
    <div class="container">
      <div class="products__inner">
        <div class="products__filter">
          <h2 class="products__title">Products</h2>
          <ul class="products__control">
            <li class="products__control__item" data-filter="all">All</li>
            <li class="products__control__item" data-filter="by-date">Newest products</li>
            <li class="products__control__item" data-filter="by-views">Most popular</li>
          </ul>
        </div>
        <div class="products__list">
          {% for good in all_goods %}
            {% include 'mainApp/include/_output_good.html' %}
          {% endfor %}
        </div>
      </div>

    </div>
  </section>

  <script>
      let filterItems = document.querySelectorAll(".products__control__item")

      Array.from(filterItems).forEach(
          (item) => {
              item.addEventListener('click', (e) => {
                  e.preventDefault()
                  let filter = item.dataset.filter
                  let productList = document.querySelector(".products__list")
                  var allGoods = document.querySelectorAll(".products__item")
                  var allGoodsArray = Array.from(allGoods);
                  let sorted = []


                  if (filter === 'by-views') {
                      sorted = allGoodsArray.sort((a, b) => +a.dataset.views - +b.dataset.views)
                      productList.classList.toggle('reverse-order')
                      if (productList.className.indexOf('reverse-order') !== -1) {
                          item.innerHTML = "Least popular"
                      } else {
                          sorted = sorted.reverse()
                          item.innerHTML = "Most popular"
                      }
                      sorted.forEach(e => productList.appendChild(e));

                  } else if (filter === 'by-date') {
                      let sorted = allGoodsArray.sort((a, b) => +a.dataset.created - +b.dataset.created);
                      productList.classList.toggle('reverse-order')

                      if (productList.className.indexOf('reverse-order') !== -1) {
                          item.innerHTML = "Oldest products"
                      } else {
                          item.innerHTML = "Newest popular"
                      }

                      sorted.reverse().forEach(e => productList.appendChild(e));
                  }


              })
          }
      )
  </script>
  <script>
      window.addEventListener("pageshow", function (event) {
          var historyTraversal = event.persisted ||
              (typeof window.performance != "undefined" &&
                  window.performance.navigation.type === 2);
          if (historyTraversal) {
              window.location.reload();
          }
      });

      Array.from(document.querySelectorAll('.wishlist')).forEach(
          function (item) {
              item.addEventListener('click', function (e) {
                  let currentElement = e.target.parentElement.parentElement.parentElement;

                  if (currentElement.className === 'products__item__inner') {
                      currentElement = currentElement.querySelector('.wishlist')
                  }

                  if (currentElement.className.indexOf('wishlist') !== -1) {
                      let currentElementId = currentElement.dataset.id

                      e.preventDefault()
                      $.ajax({
                          type: 'POST',
                          url: '{% url "wishlist:wishlist_add" %}',
                          data: {
                              goodid: currentElementId,
                              csrfmiddlewaretoken: "{{csrf_token}}",
                              action: 'ADD'
                          },
                          success: function (json) {
                              if (json['is_authenticated']) {
                                  currentElement.classList.toggle('wishlist__active')
                              } else {
                                  document.querySelector('.products__error').classList.remove('hidden__item')
                              }
                          },
                          error: function (xhr, errmsg, err) {
                          }
                      });
                  }
              })
          });
  </script>
{% endblock %}