{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="products">
  <div class="container">
    <div class="products__inner">
      <div class="products__filter">
        <h2 class="products__title">Products</h2>
        <ul class="products__control">
          <li class="products__control__item">All</li>
          <li class="products__control__item">Latest products</li>
          <li class="products__control__item">Filter - 1</li>
          <li class="products__control__item">Filter - 1</li>
        </ul>
      </div>
      <div class="products__list">
        {% include 'mainApp/include/_output_good.html'%}
      </div>
    </div>

  </div>
</section>
{% endblock %}